/* article */
main article {
    margin-bottom: 2em;
}

main article .title {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.25rem;
}

main article .title-link {
    cursor: pointer;
}

main article .information {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #888;
}

main article .body {
    border-left: 4px solid var(--border-color);
    padding-left: 0.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main article .body p:last-child {
    margin: 0;
}

main article .attachment {
    padding: 0;
    margin: 0.5rem 0 0 0;
}

main article .attachment li {
    padding: 0.25rem 20px;
    margin: 0;
    /*background: url("../../src/assets/img/paperclip-16x16.png") 0 2px no-repeat;*/
    list-style: none url("../../src/assets/img/paperclip-16x16.png");
    font-size: 0.75rem;
    color: #888;
}

main article .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 0.1rem;
    margin-top: 0.25rem;
}

main article .footer .left {
    float: left;
    padding-left: 0.5rem;
}

main article .footer .left img {
    cursor: pointer;
    position: relative;
    top: 5px;
}

main article .footer .right img {
    position: relative;
    margin-left: 0.5rem;
    top: 2px;
}

main article .footer .right {
    float: right;
    font-size: 0.85rem;
    line-height: 2rem;
    padding-right: 0.5rem;
}

main article .footer .positive-score {
    color: green;
    font-weight: bold;
    line-height: 1.75rem;
}

main article .footer .negative-score {
    color: red;
    font-weight: bold;
    line-height: 1.75rem;
}

/*.comments*/
.comments section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.comments ul{
    list-style: none;
}

.comments section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

.comments section .body {
    padding: 1rem;
}

.comments .comment {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 0.1rem;
    margin-top: 0.25rem;
}

.comments .comment .information {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #888;
}

/*form-1*/

.form-1 {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.form-1 .header {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-1 .field {
    margin-bottom: 1rem;
}

.form-1 .field .name {
}

.form-1 .field .value {
    width: 45rem;
}

.form-1 .field input, .form-1 .field textarea {
    width: 100%;
}

.form-1 .field textarea {
    min-height: 3rem;
    resize: none;
}

.form-1 .button-field {
}

.form-1 .button-field input {
    padding: 0.1rem 1.5rem;
}

.form-1 .error {
    color: var(--error-color);
    font-size: 0.75rem;
}
